node_modules
**/node_modules

.env
.env.local
.env.*.local

**/.next
**/dist
**/build
**/out
**/coverage
**/.turbo
**/.vercel

backend/uploads

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
backend/storage/77d1ea99-55a9-4224-b5cf-872009e31458.pdf
backend/storage/ce8fb763-fcf2-4236-89f6-88f83e5c92c9.pdf
backend/storage/f032d3e1-e5c2-47d3-ae76-1db3be7ace37.pdf

.vercel
.env*
