node_modules
**/node_modules

.env
.env.local
.env.*.local

**/.next
**/dist
**/build
**/out
**/coverage
**/.turbo
**/.vercel

backend/uploads

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
